<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center">
        <img class="rounded-circle" src="assets/dummy-profile-image.png">
    </a>

    <li class="nav-item active">
        <a class="nav-link text-center">
            <span>Nisal Wickramage</span></a>
    </li>

    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fa fa-list fa-sm"></i>
            <span>List</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fa fa-address-book-o fa-sm"></i>
            <span>Add Employee</span>
        </a>
    </li>

    <hr class="sidebar-divider">
    <li class="nav-item active">
        <a class="nav-link" data-toggle="modal" data-target="#importEmployee">
            <i class="fa fa-clone fa-sm"></i>
            <span>Import Employees</span>
        </a>
    </li>

    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>