<div id="wrapper">
    <app-menu-panel></app-menu-panel>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-header></app-header>
            <div class="container-fluid">
                <app-search-bar (salaryParamChanged)="search($event)"></app-search-bar>
                <app-employee-list [employees]="employees" (navigated)="onNavigation($event)" (selectedEmployee)="setSelectedEmployee($event)"></app-employee-list>            
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<app-add-employee (employeeAdded)=addEmployee($event)></app-add-employee>
<app-edit-employee [employee]="selectedEmployee" (employeeEdited)=editEmployee($event)></app-edit-employee>
<app-delete-employee [employeeId]="selectedEmployee.id" (deleteEmployee)="deleteEmployee()"></app-delete-employee>
<app-display-employee></app-display-employee>
<app-import-employee></app-import-employee>